* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background: #57616a;
  font-size: 1.5rem;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.container h1 {
  font-size: 1.5rem !important;
}
.container p {
  font-size: 1.2rem !important;
}
.section-a {
  position: relative;
}
#card {
  text-align: center;
  padding: 20px 40px;
  height: auto;
  background-color: #0a0a0a !important;
  width: 100%;
  color: #ffffff;
  margin-bottom: 7px;
  position: relative !important;
  z-index: -5 !important;
}

.logo {
  text-transform: uppercase;
  color: hsl(0, 90%, 31%);
  float: left;
  clear: both;
}
.signIn {
  float: right;
  padding: 10px 20px;
  background: hsl(0, 90%, 31%);
  border: none;
  color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  font-size: 1rem;
}
#card .showcase-area {
  margin-top: 5em;
  text-align: center;
}
.bar {
  position: relative;
  margin: 20px;
  display: flex;
  height: 30px;
  width: 100%;
  border-radius: 30px 30px 30px 30px;
  background: linear-gradient(to right, rgb(42, 124, 42), white, yellow);
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.showcase-area h2 {
  color: rgb(163, 148, 148);
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
#date {
  font-size: 2rem;
}
#green {
  color: green;
  font-size: 2rem;
  white-space: nowrap;
}

.strip {
  position: absolute;
  height: 25px;
  width: 6px;
  background: #ffffff;
  margin-right: 50%;
  right: 12%;
  padding-bottom: 3rem;
  border: #0a0a0a 2px solid;
}
.circle {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #686262;
}
#right {
  right: 17%;
  background-color: #ff0077;
}
#left {
  left: 47%;
  background-color: rgb(33, 189, 33);
}
.fa-envelope {
  position: absolute;
  font-size: 2rem;
  margin-left: -15px;
  margin-top: 3rem;
  justify-content: space-between;
}
#innertext {
  margin-left: 1rem;
  white-space: nowrap;
}
#para {
  margin-top: 6rem;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
#triallink {
  display: block;
  text-decoration: none;
  padding: 15px 20px;
  background: hsl(0, 90%, 31%);
  border: none;
  color: #ffffff;
  border-radius: 5%;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  width: 17rem;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: 3px;
  margin-bottom: 3rem;
}
img {
  width: 100%;
  height: 100%;
}
.section-e {
  position: relative;
}
.section-e p {
  margin-bottom: 5px;
  background: #57616a;
  height: 0;
  display: none;
  overflow: hidden;
  text-align: left;
  padding: 20px;
}
.openPara {
  height: 100% !important;
  display: block !important;
}

.section-e h1 {
  margin-bottom: 1rem;
}
.section-e h3 {
  font-size: 1.2rem;
  font-weight: 2;
  white-space: nowrap;
  padding: 15px;
  background: #57616a;
  margin-top: 5px;
  margin-bottom: 1px !important;
  text-align: left;
}
.section-e span {
  float: right;
  font-size: 2rem;
  background: none;
  border: none;
  color: #ffffff;
  outline: none;
  margin-bottom: -20px;
  left: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.rotate {
  transform: rotate(45deg);
  transition: all 0.5s ease-out;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "footerlink footerlink";
  grid-gap: 20px;
}
.footerlink {
  text-align: left;
  font-size: 0.9rem;
  color: #cbd1d6dc;
  grid-area: footerlink;
}
.footer a {
  text-decoration: none;
}

.mainfooter a {
  display: block;
  color: #cbd1d6dc;
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.signInb {
  padding: 10px 20px;
  background: hsl(0, 90%, 31%);
  border: none;
  color: #ffffff;
  border-radius: 10%;
  cursor: pointer;
  font-size: 1rem;
}
.section-b #text #triallink,
.section-c #text #triallink,
.section-d #text #triallink {
  background: #0a0a0a;
  color: #ffffff;
  border: 2px #ffffff solid;
}
.questions #triallink {
  margin-top: 20px;
}

.showcase-b,
.showcase-d {
  margin: 0 auto;
  position: relative;
}

#imgb {
  width: 100%;
  width: 100%;
  z-index: 3 !important;
}
.imgp {
  width: 100%;
}
#vidp {
  top: -40.9px;
  height: 10em;
  left: 4.2em;
  width: 14em !important;
  margin: 0 auto;
}

video {
  position: absolute;
  margin: 0 auto;
  margin-top: 50px !important;
  z-index: -3 !important;
}

@media screen and (min-width: 950px) {
  .section-b,
  .section-c,
  .section-d {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "para img";
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "footerlink footerlink footerlink";
    grid-gap: 20px;
  }
  .footerlink {
    text-align: left;
    font-size: 0.9rem;
    color: #cbd1d6dc;
    grid-area: footerlink;
  }
  #text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
  }
  .section-e p,
  .section-e h3 {
    width: 25em;
    margin: 0 auto;
    font-size: 2rem !important;
  }
  .section-e h1 {
    font-size: 3rem !important;
  }
  .section-e h3 {
    margin-top: 5px;
    margin-bottom: 1px !important;
  }

  #imgb {
    width: 100%;
    width: 100%;
    z-index: 3 !important;
  }
  .imgp {
    width: 100%;
  }
  #vidp {
    top: -10.9px;
    height: 9em;
    left: 5.1em;
    width: 16em !important;
    margin: 0 auto;
  }
  #vidc {
    top: -21.9px;
    height: 20em;
    width: 25em !important;
    left: 1em;
    margin: 0 auto;
  }
}

@media screen and (max-width: 950px) {
  .section-b #text #triallink,
  .section-c #text #triallink,
  .section-d #text #triallink {
    display: none;
  }

  #vidp {
    top: -60.9px;
    height: 9em;
    left: 2.8em;
    width: 11em !important;
    margin: 0 auto;
  }
  #vidc {
    height: 8em;
    width: 19em !important;
    left: -1em;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 769px) and (max-width: 1170px) {
  #vidp {
    top: -60.9px;
    height: 9em;
    left: 2.8em;
    width: 11em !important;
    margin: 0 auto;
  }
  #vidc {
    height: 8em;
    width: 19em !important;
    left: -1em;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1171px) {
}
